.vbtn {
  min-width: 210px;
  
  max-width: 100%;
  padding: 16px 25px;
  overflow: hidden;
  border: none;
  border-radius: 2px;
  z-index: z('default');
  font-size: 12px;
  text-transform: uppercase;
  transform: translateZ(0);
  text-align: center;
  @extend .relative;
  @extend .d-i;
  @extend .text-dn;
  @extend .bold;
  @extend .outline-none;
  @extend .tap-transparent;
  @extend .transition;
  &:before{
    z-index: -1;
    @extend .pseudo;
    @extend .transition;
  }
  &_big{
    min-width: 240px;
    padding: 23px 25px;
  }
  &_skew{
    &:before{
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%; 
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    &:hover{
      &:before{
        height: calc(450% - 40px);
        opacity: 1;
      }
    }   
  } 
  &-bgtransition{
    &:before{
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  @at-root{
    %defaultScaleYZero{
      &:before{
        transform: scaleY(0);
      }
      &:hover{
        &:before{
          transform: scaleY(1);
        }
      }
    }
  }
  &_shutter{
    @extend .vbtn-bgtransition;
    &Vertical{
      &Out{
        @extend .vbtn_shutter;          
        @extend %defaultScaleYZero;
      }
    }
    &Horizontal{
      &Out{
        @extend .vbtn_shutter;
        &:before{
          transform: scaleX(0);
        }
        &:hover{
          &:before{
            transform: scaleX(1);
          }
        }
      }
    }
  }
  &_bounce{
    @extend .vbtn-bgtransition;
    @extend %defaultScaleYZero;
    &:hover{
      &:before{
        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
         transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      }
    }
    &Top{
      @extend .vbtn_bounce;
      &:before{
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
      }
    }
    &Bottom{
      @extend .vbtn_bounce;
      &:before{
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
      }
    }
  }
  &_dark{
    color: setColor(dark);
    background-color: setColor(dark, light);
    &:before{
      background-color: darken(setColor(dark, light), 15%);
    }
  }
  &_border{
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    &_strong{
      border-color: setColor(main);
      &:before{
        background-color: setColor(main);
      }
    }
    &_opacity{
      border-color: transparentize(setColor(main), 0.8);
      &:before{
        background-color: transparentize(setColor(main), 0.8);
      }
    }
  }
  &_single{
    margin-top: 35px;
    @include resp-min(sm){
      margin-top: 70px;
    }
  }
}