.list{
  li{
    @extend .relative;
    &:after{
      @extend .pseudo;
    }
  }
  &_bullet{
    li{
      padding-left: 15px;
      &:after{
        left: 0;
        top: 6px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #fff;
        //@include bg();
      }
    }
  }
}