.vtitle{
	&-small{
		margin: 12px 0;
		font-size: 17px;
		//@include fs('vtitle-small');	
	}
	&-big{
		line-height: 1.2;
		font-size: 25px;
		margin: 0 0 24px 0;
		@extend .light;
		@include fs('vtitle-big');
		&_offset{
			margin: 0 0 48px 0;
		}
	}
}
.color{
	&-white{
		color: setColor(white);
	}
}
.text{
	&-tu{
		text-transform: uppercase;
	}
	&-du{
		text-decoration: underline;
	}
	&-dn{
		text-decoration: none;
	}
	&-center{
	 text-align: center;
	}
	&-left{
	 text-align: left;
	}
	&-right{
	 text-align: right;
	}
}
// @each $br-name, $br-value in $breakpoints{
//   @include resp-max($br-name){
//     .max-#{$br-name}-center{
//       text-align: center;
//     }
//   }
//   @include resp-min($br-name){
//     .min-#{$br-name}-right{
//       text-align: right;
//     }
//   }
// }