// Colors
	$color-main: #66fcf1;
	$color-responsive-menu: #a5a5a5;
	$color-modal-main: #ED2553;
	$color-modal-trans: rgba(0, 0, 0, 0.1);

// Dependencies
	$design-form: 'old';
	$design-modal: 'new';
// Error, if not exists variable.
$error: "This variable we do not have, sorry. Please try to change variable"; 