include mixins
.vrow.flex-v-center.vnav__row
	.vak.xs-8.md-2
		.vnav__logo
			button(type="button" class="vnav__btn" data-menu=".vnav_fixed .vnav__menu")
				span.vnav__btn-lines
					span
					span
					span
				//span.vnav__btn-text Menu
			.d-i
				img(src="img/logo.png" alt="")
	nav.vak.xs-12.md-6.vnav__menu
		ul.vnav__list
			+item("http://adventuretours.in.ua/") home
			+item("http://adventuretours.in.ua/index-services.html#main") Our service
			+item("http://adventuretours.in.ua/index-tour-video.html#main") tour video
			+item("http://adventuretours.in.ua/index-chernobyl-tour.html#main") chernobyl
			+item("http://adventuretours.in.ua/index-shooting-tour.html#main") shooting tour
	//- .vak.xs-4.md-3.vnav__text
	//- 	.vnav__text-toggle.js-vnav-toggle
	//- 		span
	//- 		span
	//- 		span
	//- 	.vnav__text-links.js-vnav-links
	//- 		a.vnav__text-links-inner +38 (093) 961 33 54
	//- 		a.vnav__text-links-inner.vnav__text-links-inner_hidden +38 (093) 961 33 54